<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="body">
    <header class="header">
        <div id="layout-div" class="header-div">
                <input type="file" id="excel-file" name="file" accept=".xlsx">
                <button id="import-excel-but" class="import-button">Импорт</button>
        </div>
    </header>
    <div class="container">
        <div id="menu" class="menu">
            <nav class="nav-container">
                <label>Charts</label>
                <div class="nav-container-item" href="#">
                    <img src="~/images/line-32.png" />
                    <a href="/Home/LineChartPage">Line Chart </a>
                </div>
                <div class="nav-container-item" href="#">
                    <img src="~/images/pie-chart-3-32.png" />
                    <a href="/Home/PieChartPage">Pie Chart</a>
                </div>
            </nav>
        </div>

    </div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <script type="text/javascript" src="/js/layout.js"></script>
</body>
</html>
