<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="body">
    <header class="header">
        <div id="layout-div" class="header-div">
                <input type="file" id="excel-file" name="file" accept=".xlsx">
                <button id="import-excel-but" class="import-button">Импорт</button>
            <div class="between-div">
                <p>Диапозон дат анализируемых данных:</p>
                <p>{{datebetween.dateBegin}} - {{datebetween.dateEnd}}</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div id="menu" class="menu">
            
            <button id="menu-btn" class="menu-btn">Меню</button>
            <nav class="nav-container">
                <div class="nav-container-item" href="#">
                    <img src="/gifs/lineChart.gif" />
                    <a href="#">Линейный график </a>
                </div>
                <div class="nav-container-item" href="#">
                    <img src="/gifs/piechart.gif"/>
                    <a href="#">Круговая диаграмма</a>
                </div>
            </nav>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script type="text/javascript" src="/js/layout.js"></script>
</body>
</html>
