<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>
    <body>
        <div id="home-div">
            <form onsubmit="return false;" method="post" v-on:submit="importExcel">
                <input type="file" id="excelFile" name="file" accept=".xlsx">
                <button class="import-button" type="submit">Импорт</button>
            </form>
            <form onsubmit="return false;" method="post" v-on:submit="changeDatebetween">
                <div class="calendar-container">
                    <input type="date" v-model="datebetween.dateBegin" required>
                    <input type="date" v-model="datebetween.dateEnd" required>
                    <button type="submit" class="import-button">Применить</button>
                </div>
            </form>

            <table>
                <thead>
                    <tr>
                        <th>
                            Дата и время
                        </th>
                        <th>
                            Название
                        </th>
                        <th>
                            Категория
                        </th>
                        <th>
                            Сумма операции
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="sber in sbersInTable">
                        <th>{{sber.datetime}}</th>
                        <th>{{sber.name}}</th>
                        <th>{{sber.category}}</th>
                        <th>{{sber.summ}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <script type="text/javascript">
            var homeVue = new Vue({
                el: '#home-div',
                data:{
                    sbersInTable:[],
                    datebetween:{}
                },
                methods:
                {
                    importExcel: function()
                    {
                        var fileInput = document.getElementById('excelFile');
                        var file = fileInput.files[0];
                        const formData = new FormData();
                        formData.append('file', file);
                        axios.post('/Home/ImportAndGetSbers', formData).
                        then((response)=>{
                            this.sbersInTable = response.data;
                            this.getDateBetween();
                        });
                    },
                    getDateBetween: function()
                    {
                        axios.post('/Home/GetDateBetween').then((response)=>{
                            this.datebetween = response.data;
                        });
                    },
                    changeDatebetween: function(){
                    axios.post('/Home/ChangeDateBetween', this.datebetween).then((response) => {
                        console.log(response.data);
                            this.sbersInTable = response.data.result;
                        });
                    }
                }
                
            });
        </script>

    </body>
</html>

